.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--secondary-color);
  color: var(--button-text-color);
}
