.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 397px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.card-body {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.8rem;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.tour-img {
  position: relative;
  flex: 0 0 200px;
  overflow: hidden;
}

.tour-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.tour-img span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 0 0 0;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-top span svg {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.tour-rating {
  font-size: 0.9rem;
  color: black;
}

.tour-rating svg,
.tour-location svg {
  font-size: 1rem;
}

.tour-title {
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.tour-title a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.tour-title a:hover {
  color: var(--secondary-color);
}

.tour-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.card-bottom h5 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.card-bottom h5 span {
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.8rem;
}

.booking-btn {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 16px 0;
  cursor: pointer;
  border-radius: 50px;
}

.booking-btn a {
  text-decoration: none;
  color: var(--button-text-color);
}

/* Cool hover effect */
.booking-btn:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .tour-title {
    font-size: 1rem;
  }

  .booking-btn a {
    font-size: 0.8rem;
  }

  .tour-rating,
  .tour-location {
    font-size: 0.8rem;
  }
}
